apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vaultwarden
resources:
- deployment.yaml
- pvc.yaml
- service.yaml
- ingress.yaml
images:
- name: vaultwarden/server
  newTag: "1.35.1-alpine"