apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: karakeep
resources:
- namespace.yaml
helmCharts:
  - name: karakeep
    releaseName: karakeep
    repo: https://karakeep-app.github.io/helm-charts
    version: 0.27.0
    valuesInline:
      applicationHost: karakeep
      controllers:
        karakeep:
          containers:
            karakeep:
              image:
                # renovate: datasource=docker depName=ghcr.io/karakeep-app/karakeep versioning=semver
                tag: 0.29.3
patches:
  - target:
      kind: Ingress
      name: karakeep
    patch: |-
      - op: add
        path: /spec/ingressClassName
        value: tailscale
      - op: add
        path: /spec/tls
        value:
          - hosts:
              - karakeep
