apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich

resources:
  - namespace.yaml
  - pvc.yaml
  - postgres-cluster.yaml
  - secret.yaml
  - ingress.yaml

helmCharts:
  - name: immich
    releaseName: immich
    repo: oci://ghcr.io/immich-app/immich-charts
    version: 0.10.3
    namespace: immich
    valuesFile: values.yaml
