apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: newrelic
helmCharts:
- name: nri-bundle
  repo: https://helm-charts.newrelic.com
  releaseName: newrelic-bundle
  version: "6.0.37"
  valuesFile: values.yaml
resources:
- nri-integration-cfg-example.yaml
- namespace.yaml