apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: home-assistant

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- pvc.yaml
- ingress.yaml
images:
  - name: ghcr.io/home-assistant/home-assistant
    newTag: "2025.12.1"
