apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich

resources:
  - immich-pvc.yaml
  - postgres-deployment.yaml
  - postgres-service.yaml
  - postgres-init-scripts.yaml
  - postgres-pvc.yaml
  - ingress.yaml

helmCharts:
  - name: immich
    releaseName: immich
    repo: oci://ghcr.io/immich-app/immich-charts
    version: "0.10.3"
    valuesFile: immich-values.yaml
